.latest-area{
    padding-top: 25px;
}
.paganition-center ul {
    justify-content: center;
    padding-top: 25px;
}
.page-link{
    padding: 10px 15px;
}
.section-padding{
    padding: 20px 0;
}
.section-title-wrapper{
    margin-bottom: 27px;
}
.header-top-right > .content .account-dropdown{
    width: 250px;
    padding: 10px;
    margin: 7px;
}
.logo img{
    height: 80px !important;
    width: auto !important;
    padding: 5px;
}
.header-logo-menu.stick .mainmenu-area .mainmenu ul#nav > li > a{
    height: 80px !important;
}
.logo a{
    line-height: 80px;
    color: #204277;
    font-weight: bold;
    font-size: 20px;
}
.mainmenu ul#nav > li.active > a{
    color: #86bc42;
}
.mainmenu ul#nav > li.active > a:after{
    bottom: 43px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #86bc42;
    width: 21px;
}
.comment_box_reply{
    display: none;
}
.page-item.active .page-link{
    background-color: #86bc42;
    border-color: #86bc42;
}
.page-link{
    color: #86bc42;
}
.single-latest-text{
    min-height: 236px;
    padding: 15px 0 15px 15px;
}
.footer-logo img{
    height: 100px;
}
.news-details-content .single-latest-text{
    padding: 20px 20px 0;
}
.single-comment.comment-reply {padding-left: 80px;}

.header-top-right > .content{
    margin-top: 14px;
}
.mainmenu ul#nav > li > a{
    line-height: 60px;
}
.logo{
    padding-top: 1px;
}
@media (max-width: 767px){
    .logo{
        padding: 5px 0 5px;
    }
}
.course-area .section-title-wrapper{
    margin-bottom: 35px;
}
.button-large.button-default{
    margin-top: 35px;
}

.langSwitch{
    font-size: 15px;
    color:#fff !important;
}
.section-padding{
    padding: 0px 0;
}
.header-logo-menu.stick .logo{
    padding: 1px 0;
}
.single-latest-item{
    margin-bottom: 20px;
}
.about-area{
    margin-top: 30px;
}
.button-large.button-default {
    margin-top: 10px;
}
.teachers-area{
    padding: 0 0 20px;
}
.header-top span{
    padding: 5px 0;
}
.vision{
    color: #fff;
}
.single-item-content {
    margin-bottom: 10px;
    padding-top: 10px;
}
.single-item{
    padding: 0 20px;
}
.currency{
    font-size: 16px;
}
.single-course-details{
    margin-bottom: 30px;
}
.accordion .btn-link{
    color: #86bc42;
}
.news-details-content .social-links > a{
    float: right;
    margin-right: 0px !important;
}
.single-sidebar-widget{
    margin-bottom: 25px;
}
.single-item-comment-view span{
    margin-right: 7px;
}
.course-page .single-item, .course-area .single-item{
    margin-bottom: 85px;
}
.paganition-center{
    margin-bottom: 30px;
}
.section-title-wrapper>.section-title{
    margin-top: 50px;
}
.accordion{
    width: 100%;
}
.card-body .current_lecture a{
    color: #86bc42;
}
.comments {
    padding: 10px;
}
.tutor-image img{
    max-width: 50%;
}
.tutor-image{
    padding-top:5px;
}
.sidebar-widget .single-teacher-text{
    padding: 10px 0 10px;
}
h4.title{
    margin-bottom: 20px;
}
.single-item-text .single-item-text-info{
    margin-bottom: 10px;
}
.single-comment{
    padding: 5px 14px 5px 15px;
}
.offers .accepted{
    background-color: #c9eaa0;
}

.single-course-details a {
    display: inline;
}





.bootstrap-tagsinput .tag{
    color: #071ae5;
}
.bootstrap-tagsinput{
    display: block;
}
.form-layout .row{
    padding-bottom: 20px;
}
.course-details-area a img{
    margin-left: 0px;
}
.header-top-right > .content > a, .header-top-right > .content > a:hover, .header-top-right > .content > a:active, .header-top-right > .content > a:focus, .header-top-right > .content > a:visited{
    color: #fff !important;
}
.search{
    top:81px;
}
.contact-form-area input, .contact-form-area textarea{
    margin-bottom: 5px;
}
.comment-text .badge{
    font-size: 16px;
}
.author-image{
    border: 0px solid #eaeaea;
    border: 0px;
}
.btn-primary{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn:hover{
    background-color: #4c4f51 !important;
}

.contact-form-area .single-item-text-info{
    font-size: 15px;
}
.bootstrap-tagsinput .tag{
    background-color: #b5b9bd;
    color: #080808;
    padding: 5px;
}
input, textarea, select{
    line-height: 30px !important;
}
.single-item-text .btn{
    color: #fff !important;
}
.single-item-text .currency{
    color: #fff !important;
}
.single-sidebar-widget h4.title{
    margin-bottom: 10px;
}
